extends layout

block content
	h2 Statistics
	h3(id='graph') Graph
	p Here's a neat graph for you to enjoy
	i WORK IN PROGRESS
	hr
	h3(id='detailed-statistics') Detailed statistics
	i WORK IN PROGRESS
	hr
	h3(id='command-parameters') Command parameters
	i WORK IN PROGRESS
