doctype html
html
	head
		title= title
		include htmlhead
	body
		div(class='row')
			div(class='col-sm-12')
				div(class='top-panel')
					h1= title
		div(class='row')
			div(class='col-xs-3 col-sm-2 navigation')
				h4
					a(href='/' class='list-group-item-heading') Statistics
				ul(class='list-group')
					li(class='list-group-item')
						a(href='/#graph') Graph
					li(class='list-group-item')
						a(href='/#detailed-statistics') Detailed statistics
					li(class='list-group-item')
						a(href='/#command-parameters') Command parameters
			div(class='col-xs-9 col-sm-10')
				block content
